<!DOCTYPE html>
<html lang="ko">
<head>
    <title>AnA - Android & Application</title>
    <meta charset="utf-8"/>
    <link rel="icon" href="favicon.ico">
</head>
<body>
<div style="width: 100%; text-align: center;">
    <h1 style="line-height: 0.5em;">へ　へ</h1>
    <h1 style="line-height: 0.5em;">の　の</h1>
    <h1 style="line-height: 0.5em;">　も　</h1>
    <h1 style="line-height: 0.5em;">　へ　</h1>
    <h1 style="line-height: 0.5em;">404</h1>
    <h1><a href="http://anapp.kr/">anapp.kr</a></h1>
</div>
</body>
</html>
