<footer>
    <div id="footer-link">
        <a href="https://www.facebook.com/sunrinana/">
            <img src="images/svg/fb.svg" alt="facebook" class="footer-image">
        </a>
        <div id="footer-image-border"></div>
        <a href="https://github.com/sunrinana">
            <img src="images/svg/github.svg" alt="github" class="footer-image">
        </a>
    </div>
    <div>© 2017 Android & Application.</div>
    <div>contact us at <address>sunrinana@gmail.com</address></div>
</footer>