<header>
    <div id="header-side-nav"><i class="fa fa-bars" aria-hidden="true" id="side-menu-btn"></i></div>
    <div id="header-contact">Contact</div>
    <div id="header-logo-wrapper"><img src="images/svg/ana_origin.svg" id="header-logo" background="hello"></img></div>
    <div id="user-info">

    </div>
    <!--
    <div id="user-info">
        <img src="" id="profile-img" onerror="this.src='images/profile_error.png'">
        <div id="user-info-name">신현준</div>
        <a href="" class="link" id="user-info-logout">로그아웃</a>
    </div>-->
</header>
