<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>AnA - Android & Application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta name="google-site-verification" content="3Xurr0zbKFd2AgzjB2jmAELK1nacapkYvmXyxDdhrd8" />
    <meta property="og:url" content="http://anapp.kr/"/>
    <meta property="og:title" content="AnA - Android & Application"/>
    <meta property="og:description" content="AnA는 선린인터넷고등학교 소프트웨어과 어플리케이션 동아리입니다."/>
    <meta property="og:image" content="http://anapp.kr/images/logo_new.png"/>
    <link rel='stylesheet' href='/css/main.css'/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
  <%- include header.ejs %>
  <%- include nav.ejs %>
    <main role="main">
        <div class="carousel">
            <!--control-->
            <!--
            <a href="#" role="button" class="carousel-button left"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="#" role="button" class="carousel-button right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            -->
            <!--item-->
            <div class="carousel-items">
                <div class="item active">
                    <div class="carousel-background-image"></div>
                    <div class="carousel-title">AnA 8기 모집 중!!</div>
                    <div class="btn" onclick="location.href='http://bit.ly/2ldatqv';">신청하러 가기</div>
                    <div class="carousel-author"></div>
                </div>
                <div class="item">
                    <div class="carousel-background-image"><div style="position: absolute; top: 0; left: 0; width:100%; height:100%; background-color: yellow"></div></div>
                    <div class="carousel-title">AnA</div>
                    <div class="carousel-author"></div>
                </div>
                <div class="item">
                    <div class="carousel-background-image"><div style="position: absolute; top: 0; left: 0; width:100%; height:100%; background-color: orange"></div></div>
                    <div class="carousel-title">asadf</div>
                    <div class="carousel-author"></div>
                </div>
            </div>
            <!--
            <ul class="indicators">
                <li class="indicator-item active"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
            </ul>-->
        </div>
        <article class="main-article" id="link-intro">
            <div class="article-title">What is <strong>AnA</strong>?</div>
            <img src="images/svg/ana_new.svg" alt="ana-logo" class="intro-logo" id="intro-logo-new">
            <img src="images/svg/ana_origin.svg" alt="ana-logo" class="intro-logo" id="intro-logo-origin">
            <div id="intro-border"></div>
            <div class="article-content">
                AnA는 2010년 설립된 선린인터넷고등학교의 소프트웨어과 전문 동아리입니다.
                동아리 명인 Android & Application에서 드러나듯, 안드로이드 어플리케이션을 개발하며,
                그 밖에도 Windows, Server, Unity, Web, IoT 등의 개발을 진행하며, 디자인 등도 함께 작업합니다.
                <br>2017년 8기를 모집하며, 3/7에 시연회를, 3/21 면접 예정입니다.<br>
                다양하고 자세한 수업과 상호간 자유로운 커뮤니케이션, 다양한 활동 등을 통해
                새로운 융합형 크리에이터를 양성하는 것이 저희 AnA의 목표입니다.
                AnA로 오셔서 여러분의 꿈을 이루어 보세요!
            </div>
        </article>
        <article class="main-article" id="link-class">
            <div class="article-title">Classes</div>
            <div class="article-content" id="article-classes">
                    <div class="classes">
                        <div>
                            <img src="images/svg/android.svg" alt="android" class="article-classes-img">
                        </div>
                        <strong>Android</strong>
                        <div class="classes-content">안드로이드 기초 및 심화 개발 수업을 진행합니다.</div>
                    </div>
                    <div class="classes">
                        <div>
                            <img src="images/svg/IoT.svg" alt="IoT" class="article-classes-img">
                        </div>
                        <strong>IoT</strong>
                        <div class="classes-content">아두이노와 라즈베리 파이를 이용한 IoT 개발 수업을 진행합니다.</div>
                    </div>
                    <div class="classes">
                        <div>
                            <img src="images/svg/HTML5.svg" alt="Web" class="article-classes-img">
                        </div>
                        <strong>Web</strong>
                        <div class="classes-content">HTML, CSS, JS와 Node.js를 이용하여 웹어플리케이션 개발 수업을 진행합니다.</div>
                    </div>
                    <div class="classes">
                        <div>
                            <img src="images/svg/ps.svg" alt="design" class="article-classes-img">
                        </div>
                        <strong>Design</strong>
                        <div class="classes-content">포토샵, 일러스트레이터를 활용한 UI,UX디자인 수업을 진행합니다.</div>
                    </div>
                    <div class="classes">
                        <div>
                            <img src="images/svg/c-logo.svg" alt="design" class="article-classes-img">
                        </div>
                        <strong>C#</strong>
                        <div class="classes-content">Windows, Unity 개발 수업을 진행합니다</div>
                    </div>
            </div>
        </article>
        <article class="main-article" id="link-project">
            <div class="article-title">프로젝트</div>
                <div id="project">
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                </div>
        </article>
        <article class="main-article" id="link-award">
            <div class="article-title">수상실적</div>
            <div class="article-content" id="article-awards">
                <div class="award">
                    <i class="award-year">2014</i>
                    <i>- 2014 교내 과학경시대회 UCC 부문 금상</i>
                    <i>- 2014 모바일 콘텐츠 경진대회 게임 부문 금상</i>
                </div>
                <div class="award">
                    <i class="award-year">2015</i>
                    <i>- 2015 교내 과학경시대회 UCC 부문 금상</i>
                    <i>- 2015 그래픽 디자인 공모전</i>
                    <i>ㄴ 게임 그래픽 / 캐릭터 디자인 부문 대상</i>
                    <i>ㄴ 모션 그래픽 부문 은상, 동상</i>
                    <i>- 선린 해커톤 은상, 장려상</i>
                    <i>- 2015 영상공모전 금상, 은상</i>
                    <i>- 디지털 컨텐츠 경진대회 응용 S/W 부문 은상, 동상</i>
                    <i>- 디지털 컨텐츠 경진대회 응용 멀티미디어 부문 금상, 동상</i>
                    <i>- 디지털 컨텐츠 경진대회 응용 웹 부문 동상</i>
                    <i>- 교내 정보올림피아드 동상</i>
                    <i>- 소셜벤처 경연대회 동상</i>
                </div>
                <div class="award">
                    <i class="award-year">2016</i>
                    <i>- 2016 모바일 컨텐츠 경진대회 금상</i>
                    <i>- 2016 디지털 콘텐츠 경진대회 동상</i>
                    <i>- 2016 디지털 콘텐츠 경진대회 동상</i>
                    <i>- 2016 디지털 콘텐츠 경진대회 은상</i>
                </div>
                <div class="award">
                    <i class="award-year">2017</i>
                    <i>- D3S 해커톤 인기상</i>
                    <i>- D3S 해커톤 우아한상</i>
                </div>
            </div>
        </article>
    <%- include footer.ejs %>
    </main>
    <script src="js/jquery.min.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
