<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>AnA - Android & Application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta name="google-site-verification" content="3Xurr0zbKFd2AgzjB2jmAELK1nacapkYvmXyxDdhrd8" />
    <meta property="og:url" content="http://anapp.kr/"/>
    <meta property="og:title" content="AnA - Android & Application"/>
    <meta property="og:description" content="AnA는 선린인터넷고등학교 소프트웨어과 어플리케이션 동아리입니다."/>
    <meta property="og:image" content="http://anapp.kr/images/logo_new.png"/>
    <link rel='stylesheet' href='/css/main.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="favicon.ico">
  </head>
  <body>
  <%- include header.ejs %>
  <%- include nav.ejs %>
    <main role="main">
        <div class="carousel">
            <!--control-->
            <a href="#" role="button" class="carousel-button left"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <a href="#" role="button" class="carousel-button right"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <!--item-->
            <div class="carousel-items">
                <div class="item active">
                    <div class="carousel-title">Hello World!</div>
                    <div class="carousel-author">조재호</div>
                </div>
                <div class="item">
                    <div class="carousel-title">AnA</div>
                    <div class="carousel-author">안용호</div>
                </div>
                <div class="item">
                    <div class="carousel-title">뀨뀨</div>
                    <div class="carousel-author">꺄꺄</div>
                </div>
            </div>
            <ul class="indicators">
                <li class="indicator-item active"></li>
                <li class="indicator-item"></li>
                <li class="indicator-item"></li>
            </ul>
        </div>
        <article class="main-article">
            <div class="article-title">What is <strong>AnA</strong>?</div>
            <img src="images/svg/ana_new.svg" alt="ana-logo" class="intro-logo" id="intro-logo-new">
            <img src="images/svg/ana_origin.svg" alt="ana-logo" class="intro-logo" id="intro-logo-origin">
            <div id="intro-border"></div>
            <div class="article-content">
                끝까지 눈에 보이는 것이다. 피어나는 있는 안고, 못할 열락의 아니더면, 아니다. 싸인 피에 우는 있는 얼마나 뿐이다. 우리는 얼마나 평화스러운 용기가 이 피가 그것을 이상은 사막이다. 가슴에 긴지라 이 고동을 불어 봄바람을 내려온 있다. 심장의 군영과 보배를 원대하고, 커다란 눈이 아니다. 발휘하기 청춘에서만 든 갑 그것을 위하여 그러므로 이것이다.
            </div>
        </article>
        <article class="main-article">
            <div class="article-title">Classes</div>
            <div class="article-content" id="article-classes">
                <div class="classes-wrapper">
                    <div class="classes">
                        <div>
                            <img src="images/svg/android.svg" alt="android" class="article-classes-img">
                        </div>
                        <strong>Android</strong>
                        <div class="classes-content">안드이다.</div>
                    </div>
                    <div class="classes">
                        <div>
                            <img src="images/svg/IoT.svg" alt="IoT" class="article-classes-img">
                        </div>
                        <strong>IoT</strong>
                        <div class="classes-content">IoT이다.</div>
                    </div>
                </div>
                <div class="classes-wrapper">
                    <div class="classes">
                        <div>
                            <img src="images/svg/HTML5.svg" alt="Web" class="article-classes-img">
                        </div>
                        <strong>Web</strong>
                        <div class="classes-content">웹이다.</div>
                    </div>
                    <div class="classes">
                        <div>
                            <img src="images/svg/ps.svg" alt="design" class="article-classes-img">
                        </div>
                        <strong>Design</strong>
                        <div class="classes-content">포토샵이다.</div>
                    </div>
                </div>
            </div>
        </article>
        <article class="main-article">
            <div class="article-title">프로젝트</div>
                <div id="project">
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                    <div class="project-card">
                        <img src="images/high-res/android.png" class="project-card-img" alt="project-image">
                        <div class="project-card-hover-text">
                            <div class="project-card-title">퉤에엣_</div>
                            <a class="project-card-link">Click for more...</a>
                            <div class="project-card-description">
                                세상이 살기 싫고 일하기 싫을때 적격! <br>
                                거지같은 프론트나 기획자에게 복수하세요!
                            </div>
                        </div>
                    </div>
                </div>
        </article>
        <article class="main-article">
            <div class="article-title">수상실적</div>
            <div class="article-content" id="article-awards">
                <div class="award">
                    <i class="award-year">2014</i>
                    <i>- 2014 교내 과학경시대회 UCC 부문 금상</i>
                    <i>- 2014 모바일 콘텐츠 경진대회 게임 부문 금상</i>
                </div>
                <div class="award">
                    <i class="award-year">2015</i>
                    <i>- 2015 교내 과학경시대회 UCC 부문 금상</i>
                    <i>- 2015 그래픽 디자인 공모전</i>
                    <i>ㄴ 게임 그래픽 / 캐릭터 디자인 부문 대상</i>
                    <i>ㄴ 모션 그래픽 부문 은상, 동상</i>
                    <i>- 선린 해커톤 은상, 장려상</i>
                    <i>- 2015 영상공모전 금상, 은상</i>
                    <i>- 디지털 컨텐츠 경진대회 응용 S/W 부문 은상, 동상</i>
                    <i>- 디지털 컨텐츠 경진대회 응용 멀티미디어 부문 금상, 동상</i>
                    <i>- 디지털 컨텐츠 경진대회 응용 웹 부문 동상</i>
                    <i>- 교내 정보올림피아드 동상</i>
                    <i>- 소셜벤처 경연대회 동상</i>
                </div>
                <div class="award">
                    <i class="award-year">2016</i>
                    <i>- 2016 모바일 컨텐츠 경진대회 금상</i>
                    <i>- 2016 디지털 콘텐츠 경진대회 동상</i>
                    <i>- 2016 디지털 콘텐츠 경진대회 동상</i>
                    <i>- 2016 디지털 콘텐츠 경진대회 은상</i>
                </div>
                <div class="award">
                    <i class="award-year">2017</i>
                    <i>- D3S 해커톤 인기상</i>
                    <i>- D3S 해커톤 우아한상</i>
                </div>
            </div>
        </article>
    <%- include footer.ejs %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
