<nav role="navigation">
    <a href="#" class="nav-menu-cell">Join us!</a>
    <a href="#" class="nav-menu-cell">소개</a>
    <a href="#" class="nav-menu-cell">수업</a>
    <a href="#" class="nav-menu-cell">프로젝트</a>
    <a href="/board" class="nav-menu-cell">게시판</a>
    <a href="/notice" class="nav-menu-cell">공지사항</a>
</nav>
<div class="side-nav" role="navigation">
    <div class="side-nav-table">
        <div class="side-nav-menu-cancel"><i class="fa fa-angle-left" aria-hidden="true" id="side-nav-menu-cancel-btn"></i></div>
        <a href="http://bit.ly/2ldatqv" class="side-nav-menu-cell">Join us!</a>
        <a href="/board" class="side-nav-menu-cell">게시판</a>
        <a href="/notice" class="side-nav-menu-cell">공지사항</a>
    </div>
</div>