<!DOCTYPE html>
<html lang="ko">
<head>
    <title>AnA - Android & Application</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta name="google-site-verification" content="3Xurr0zbKFd2AgzjB2jmAELK1nacapkYvmXyxDdhrd8" />
    <meta property="og:url" content="http://anapp.kr/"/>
    <meta property="og:title" content="AnA - Android & Application"/>
    <meta property="og:description" content="AnA는 선린인터넷고등학교 소프트웨어과 어플리케이션 동아리입니다."/>
    <meta property="og:image" content="http://anapp.kr/images/logo_new.png"/>
    <link rel='stylesheet' href='/css/main.min.css'/>
    <link rel="stylesheet" href="/css/board.min.css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<%- include header.ejs %>
<%- include nav.ejs %>
<main role="main">
    <article class="board-article">
        <h1 class="board-title">동아리 기존 부원 안내</h1>
        <h3 class="board-info">조재호 / 2017-02-23</h3>
    </article>
    <article class="board-article">
        <h1 class="board-title">히오스 설치 방법</h1>
        <h3 class="board-info">조재호 / 2017-02-23</h3>
    </article>
    <article class="board-article">
        <h1 class="board-title">회의 안내</h1>
        <h3 class="board-info">조재호 / 2017-02-23</h3>
    </article>
<%- include footer.ejs %>
</main>
<script src="/js/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
