body,html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
}

header{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
  background-color: white;
}
#header-side-nav{
  box-sizing: border-box;
  display: none;
  padding: 0 20px;
  width: 170px;
}
#header-side-nav > i {
  font-size: 2em;
  cursor: pointer;
}
#header-contact{
  width: 170px;
}

#header-logo-wrapper{
  width: 170px;
  text-align: center;
}

#header-logo{
  width: 89px;
  height: 45px;
}
#header-logo:hover{
  cursor: pointer;
}
#user-info{
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 170px;
  align-items: center;
}

#profile-img{
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.link{
  color: black;
  text-decoration: none;
}

#user-info-name{
  height: 70px;
  padding: 0 15px 0 20px;
  line-height: 70px;
}

#user-info-logout{
  height: 70px;
  line-height: 70px;
  font-size: 0.75em;
}

nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.nav-menu-cell{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 100%;
  font-size: 1.25em;
  font-weight: 300;
  transition-duration: 0.3s;
  color: black;
  text-decoration: none;
}
.nav-menu-cell:hover{
  background-color: #f5f5f5;
  transition-duration: 0.3s;
  cursor: pointer;
}
.side-nav{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  /*display: -webkit-flex;
  display: flex;*/
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}
.side-nav-table{
  height: 100%;
  width: 40%;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.side-nav-menu-cancel{
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.side-nav-menu-cancel > i{
  padding: 0 15px;
  font-size: 2em;
  cursor: pointer;
}
.side-nav-menu-cell{
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-align: center;
  transition-duration: 0.3s;
  text-decoration: none;
  color: black;
}
.side-nav-menu-cell:hover{
  background-color: #e5e5e5;
  cursor: pointer;
  transition-duration: 0.3s;
}
.btn{
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 36px;
  border: 1px solid white;
  border-radius: 5px;
  transition-duration: 0.3s;
}
a.btn{
  text-decoration: none;
  color: white;
}
.btn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  transition-duration: 0.3s;
}
/*carousel*/
.carousel{
  background-color: black; /*TODO:temp*/
  position: relative;
  display: -webkit-flex;
  display: flex;
  height: 400px;
}
.carousel-button{
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
a.carousel-button{
  text-decoration: none !important;
  color: white;
}
.carousel-button > i {
  font-size: 64px;
}
.carousel-button.left{
  position: absolute;
  left: 0;
}
.carousel-button.right{
  position: absolute;
  right: 0;
}
.carousel-items{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.item{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  color: white;
}
.item.active{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item > div {
  z-index: 1;
}
.item > .carousel-background-image{
  z-index: 0 !important;
}

.item-anim.right{
  left: -100% !important;
  transition-duration: 0.5s;
}
.item-anim.left{
  left: 100% !important;
  transition-duration: 0.5s;
}

.carousel-background-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel-title{
  font-size: 48px;
  margin-bottom: 10px;
}
.carousel-author{
  font-size: 24px;
}
.indicators{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
}
.indicator-item.active{
  background-color: white;
}
.indicator-item{
  list-style-type:none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 32px;
  margin: 0 10px;
  background-color: #95989a;
}
/*main*/
main > article.main-article{
  width: 100%;
  height: auto;
}
main > article.main-article:nth-child(odd){
  background-color: white;
}
main > article.main-article:nth-child(even){
  background-color: #f5f5f5;
}
article.main-article{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 0 100px 0;
  text-align: center;
  color: #95989a;
}
.article-title{
  font-size: 4em;
  margin-bottom: 50px;
}
.article-content{
  width: 70%;
  margin: 0 auto;
  font-size: 1.25em;
  word-wrap: break-word;
  word-break: keep-all;
}
.intro-logo{
  width: 575px;
  margin: 0 30px 0 30px;
  height: auto;
}
#intro-border{
  width: 400px;
  height: 3px;
  margin: 50px auto 50px auto;
  background-color: #95989a;
}
#article-classes{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#article-classes > div{
  width: 500px;
}
.classes-wrapper{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 30px;
}
.classes{
  margin: 0 30px 50px 30px;
}
.classes-content{
  word-wrap: break-word;
  word-break: keep-all;
  font-weight: 300;
}
.article-classes-img{
  width: auto;
  height: 205px;
  margin-bottom: 30px;
}
#project{
  position: relative;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0 auto;
}
.project-card{
  background-color: #f5f5f5;
  position: relative;
  width: 380px;
  height: 380px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition-duration: 0.3s;
}
.project-card:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition-duration: 0.3s;
}
.project-card:hover > img{
  -webkit-filter: blur(10px);
  filter: blur(10px);
  transition-duration: 0.3s;
}
.project-card:hover > div{
  opacity: 1;
  cursor: pointer;
  transition-duration: 0.3s;
}
.project-card-img{
  width: 380px;
  height: 380px;
  transition-duration: 0.3s;
}
.project-card-hover-text{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
}
.project-card-title{
  font-size: 3em;
}
.project-card-description{
  display: none;
}
/*at click card*/
.project-card.click{
  position: relative;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 760px;
}
.project-card.click > div{
  opacity: 1;
}
.project-card.click > img {
  width: 100%;
  height: 760px;
  -webkit-filter: blur(20px);
  filter: blur(20px);
}
.project-card.click:hover > div{
  cursor: pointer;
}
#article-awards{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.award{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.award > i {
  font-weight: 300;
}
.award-year{
  font-size: 4em;
}
footer{
    width: 100%;
    padding: 47px 0 47px 0;
    background-color: #252525;
    text-align: center;
    color: white;
    font-size: 1.25em;
    font-weight: 100;
}
#footer-link{
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.footer-image{
    width: 64px;
    height: 64px;
}
#footer-image-border{
    background-color: white;
    width: 4px;
    height: 100px;
    margin: 0 20px 0 20px;
}
@media screen and (max-width: 621px) {
  .classes-wrapper{
    flex-wrap: wrap;
  }
  .classes{
    width: 100%;
  }
  #intro-logo-new{
    width: 80%;
  }
}
@media screen and (max-width: 780px){
  #project{
    width: 380px;
  }
}
@media screen and (max-width: 1080px){
  header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  nav{
    display: none;
  }
  #header-side-nav{
    display: inline-block;
  }
  #header-contact{
    display: none;
  }
}
@media screen and (min-width: 781px) and (max-width: 1160px){
  #project{
    width: 760px;
  }
}
@media screen and (max-width: 1291px){
  #intro-logo-origin{
    display: none;
  }
}
@media screen and (min-width: 1161px) and (max-width: 1540px) {
  #project{
    width: 1140px;
  }
}
@media screen and (min-width: 1541px) and (max-width: 1920px) {
  #project{
    width: 1520px;
  }
}
@media screen and (min-width: 1921px){

}
@media (max-device-width: 480px){
  body{
    /*overflow-x: hidden; /*TODO:temporary*/
  }
  header{
    height: 45px;
  }
  #header-logo-wrapper{
    height: 45px;
  }
  .side-nav-table{
    width: 70%;
  }
  .carousel-button{
    padding: 0 5px;
  }
  .carousel-title{
    font-size: 36px;
  }
  .carousel-author{
    font-size: 18px;
  }
  .article-title{
    font-size: 2em;
  }
  .article-content{
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    font-size: 1em;
  }
  #intro-border{
    width: 70%;
  }
  .classes > strong{
    font-size: 2.5em;
  }
  .classes-content {
    font-size: 1.5em;
  }
  #project{
    flex-direction: row;
    width: 100%;
    overflow-y:scroll;
    height: auto;
  }
  .project-card{
    width: 100%;
    height: auto;
  }
  .project-card-img{
    width: 100%;
    height: auto;
  }
  .award-year{
    font-size: 2em;
  }
  footer{
    font-size: 1em;
  }
  .footer-image{
    width: 32px;
    height: 32px;
  }
  #footer-image-border{
    width: 2px;
    height: 50px;
  }
}
