body,html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

header{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 70px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
}

#header-contact{
  width: 170px;
}

#header-logo-wrapper{
  width: 170px;
  text-align: center;
}

#header-logo{
  width: 89px;
  height: 45px;
}

#user-info{
  display: -webkit-flex;
  display: flex;
  height: 70px;
  width: 170px;
  align-items: center;
}

#profile-img{
  width: 39px;
  height: 39px;
  border-radius: 50%;
}

.link{
  color: black;
  text-decoration: none;
}

#user-info-name{
  height: 70px;
  padding: 0 15px 0 20px;
  line-height: 70px;
}

#user-info-logout{
  height: 70px;
  line-height: 70px;
  font-size: 12px;
}

nav{
  position: relative;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.nav-menu-cell{
  display: -webkit-flex;
  display: flex;
  width: 180px;
  justify-content: center;
  font-size: 21px;
}
.carousel{
  height: 400px;
}

main > article{
  width: 100%;
  height: auto;
}
main > article:nth-child(odd){
  background-color: white;
}
main > article:nth-child(even){
  background-color: #f5f5f5;
}
article{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 100px 0 100px 0;
  text-align: center;
  color: #95989a;
}
.article-title{
  font-size: 64px;
  margin-bottom: 50px;
}
.article-content{
  width: 70%;
  margin: 0 auto;
  font-size: 21px;
}
.intro-logo{
  width: 575px;
  margin: 0 30px 0 30px;
  height: auto;
}
#intro-border{
  width: 400px;
  height: 3px;
  margin: 50px auto 50px auto;
  background-color: #95989a;
}
#article-classes{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
#article-classes > div{
  width: 600px;
}
.classes-wrapper{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.classes{
  margin-bottom: 50px;
}
.classes-content{

}
.article-classes-img{
  width: auto;
  height: 205px;
  margin-bottom: 30px;
}
#article-awards{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.award{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}
.award-year{
  font-size: 64px;
}
@media (max-width: 1080px){

}
